.blog-page-title-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.blog-page-title {
    text-align: center;
    height: 7.5rem;
    width: 9rem;
    padding-top: 0rem;
    font-size: 2rem;
    border: 1px black solid;
    font-weight: normal;
    box-shadow: 3px 3px 3px 3px lightgrey;
}

.blog-container {
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.blog-card {
    margin-bottom: 6rem;
    width: 30rem;
    height: 45rem;
    border: 1px black solid;
    text-align: center;
    box-shadow: 3px 3px 3px 3px lightgrey;
    cursor: pointer;
}

.blog-header {
    background-color: rgb(213, 238, 197);
    border-bottom: 1px black solid;
    height: 14.2rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.blog-image {
    height: 12rem;
    width: 18rem;
    border: 1px black solid;
}

.blog-title {
    font-weight: bold;
    font-size: 1.8rem;
    padding-top: .5rem;
    padding-bottom: 1rem;
    line-height: 2.5rem;
}

.blog-date-time {
    font-style: italic;
    padding-bottom: .5rem;
}

.blog-description {
    line-height: 2rem;
    padding: 1rem;
    text-align: justify;
}

.blog-info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.blog-component-header {
    text-align: center;
}

.line {
    border-right: 1px black solid;
}

.blog-pipe {
    margin-left: 1rem;
    margin-right: 1rem;
    font-style: normal;
}

.medium-logo {
    height: 7rem;
    cursor: pointer;
}