.blog-container {
    padding-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.blog-card {
    width: 30rem;
    height: 40rem;
    border: 1px black solid;
    text-align: center;
    box-shadow: 3px 3px 3px 3px lightgrey;
    cursor: pointer;
}

.blog-header {
    background-color: rgb(180, 219, 154);
    border-bottom: 1px black solid;
    height: 14.2rem;
    padding-top: 2rem;
}

.blog-image {
    height: 12rem;
    width: 18rem;
    border: 1px black solid;
}

.blog-title {
    font-weight: bold;
    font-size: 1.8rem;
    padding-top: .5rem;
    padding-bottom: 1rem;
    line-height: 2.5rem;
}

.blog-date-time {
    font-style: italic;
}

.blog-description {
    line-height: 1.7rem;
    padding: 1rem;
}

.blog-info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.blog-component-header {
    text-align: center;
}

.line {
    border-right: 1px black solid;
}

.blog-pipe {
    padding-left: .25rem;
    padding-right: .25rem;
}