.about-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    -webkit-animation: fadein 1s;
}

.about-header {
    border: 1px black solid;
    width: 16em;
    height: 2.2em;
    position: relative;
    top: 3em;
    background-color: white;
    text-align: center;
    left: 3.1em;
    padding-top: 1.2em;
    font-size: 1.3em;
    top: -2em;
    left: -1px;
}

.about-card {
    border: 1px black solid;
    height: 61.1rem;
    width: 58em;
    box-shadow: 5px 5px 5px lightgrey;
    background-color: rgb(212,236,240);
}

.about-card-info {
    position: relative;
    top: 4px;
    background-color: white;
    height: 46rem;
    width: inherit;
    border-top: 1px black solid;
}

.about-icon {
    width: 10em;
    position: relative;
    left: 25em;
    top: -2.5em;
}

.about-text {
    text-align: justify;
    line-height: 3em;
    padding-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
}