.contact-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.contact-header {
    border: 1px black solid;
    width: 16em;
    height: 2.2em;
    position: relative;
    background-color: white;
    text-align: center;
    padding-top: 1.2em;
    font-size: 1.3em;
    top: -2.5em;
    left: -1px;
}

.contact-card {
    border: 1px black solid;
    height: 36.4em;
    width: 58em;
    box-shadow: 5px 5px 5px lightgrey;
    background-color: rgb(250, 158, 158);
}

.contact-card-info {
    position: relative;
    top: -25px;
    background-color: white;
    height: 293.3px;
    width: inherit;
    border-top: 1px black solid;
    text-align: center;
    padding-top: 3em;
    line-height: 3em;
}

.contact-icon {
    width: 10em;
    position: relative;
    left: 24em;
    top: -4em;
}

.contact-text {
    text-align: justify;
    line-height: 3em;
    padding-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
}

.contact {
    font-style: italic;
}

.linkedin-logo {
    height: 4em;
    box-shadow: 2px 2px 2px darkgrey;
    border-radius: 32px;
}

.github-logo {
    height: 4em;
    margin-left: 4em;
    margin-top: 1em;
    box-shadow: 2px 2px 2px darkgrey;
    border-radius: 32px;
}

.about-email {
    text-decoration: none;
}

.about-phone {
    text-decoration: none;
}