.nav-bar {
    text-align: center;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    height: 3.7em;
}

.link {
    border-right: 1px black solid;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1.3em;
    padding-bottom: 1.2em;
    text-decoration: none;
}

.link-container {
    padding-top: 1.3em;
}

.link.first {
    border-left: 1px black solid;
}

.link:visited {
    color: black;
}

.link:hover {
    color: rgb(255,63,0);
}