/* @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}